<div id="projects">
	{{#each data}}
		{{#unless this.hidden}}
				{{#unless this.html}}
					<div class="repo-title">
						<b>{{{ this.title }}}</b>
						<div class="vert-list">
							<form action="/update" method="post">
								<button class="update-btn" name="repo" value="{{this.title}}">+</button>
							</form>
							<form action="/hide" method="post">
								<button class="hide-btn" name="repo" value="{{this.title}}">-</button>
							</form>
						</div>
					</div>
				{{else}}
					{{{ this.html }}}
				{{/unless}}
		{{/unless}}
	{{/each}}
</div>