<h3>Hidden</h3>
<div id="hidden-projects">
	{{#each data}}
		{{#if this.hidden}}
			<form action="/transfer" method="post">
				<button class="transfer-btn" name="repo" value="{{this.title}}"><h4>{{this.title}}</h4></button>
			</form>
		{{/if}}
	{{/each}}
</div>

<hr><!------------------------------->

<div id="projects">
	{{#each data}}
		{{#unless this.hidden}}
				{{#unless this.html}}
					<div class="markdown-body">
					<b>{{{ this.title }}}</b>
						<p>- no README.md found</p>
					</div>
				{{else}}
					{{{ this.html }}}
				{{/unless}}
		{{/unless}}
	{{/each}}
</div>
<!--
							<form action="/update" method="post">
								<button class="update-btn" name="repo" value="{{this.title}}">+</button>
							</form>

-->
